# Задание
* Собрать информацию о всех строящихся объектах на сайте "наш.дом.рф"
* Cохранить ее в pandas dataframe
* Cохранить pandas dataframe в excel
* Cохранить pandas dataframe в pickle
* Cохранить pandas dataframe в БД

# Задание *
* Написать скрипт, который скачивает фотографии всех строящихся объектов с сайта "наш.дом.рф"

In [352]:
import requests
import pandas as pd
import sqlite3
import re, os
from tqdm import tqdm

## Список объектов

In [9]:
offset_ = 1
limit_ = 5000
url = f'https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/api/kn/object?offset={offset_}&limit={limit_}&sortField=devId.devShortCleanNm&sortType=asc&objStatus=0'
res = requests.get(url)
objects_data = res.json()

In [34]:
# Сохранить в DataFrame
df_pd = pd.json_normalize(objects_data['data']['list'])

In [35]:
df_pd.head(5)

,objId,rpdRegionCd,objAddr,objFloorMin,objFloorMax,objElemLivingCnt,objReady100PercDt,objSquareLiving,objCompensFundFlg,objProblemFlg,...,developer.orgForm.fullForm,developer.orgForm.shortForm,developer.companyGroup,developer.devInn,objCommercNm,complexShortName,developer.bankruptStage.bankruptStageCd,developer.bankruptStage.bankruptStageDesc,developer.bankruptStage.bankruptLawUrl,developer.orgBankruptMsgDttm
0,13398,72,"г Тюмень, ул Профсоюзная, д. 56",7,10,43,2024-12-31,4812.98,0,0,...,Акционерное общество,АО,6.994210e+08,7701651356,NaN,NaN,NaN,NaN,NaN,NaN
1,13383,72,г Тюмень,4,20,68,2022-06-30,6287.45,1,0,...,Акционерное общество,АО,6.994210e+08,7701651356,NaN,NaN,NaN,NaN,NaN,NaN
2,13397,72,"г Тюмень, ул Профсоюзная, д. 56",6,12,65,2024-12-31,6248.51,0,0,...,Акционерное общество,АО,6.994210e+08,7701651356,NaN,NaN,NaN,NaN,NaN,NaN
3,13391,72,"г Тюмень, ул Профсоюзная",3,12,44,2022-06-30,4293.67,1,0,...,Акционерное общество,АО,6.994210e+08,7701651356,NaN,NaN,NaN,NaN,NaN,NaN
4,23682,47,д Агалатово,10,10,54,2022-06-30,2748.15,1,0,...,Общество с ограниченной ответственностью,ООО,5.562608e+09,7806536079,"Жилой комплекс ""84 высота""",NaN,NaN,NaN,NaN,NaN

In [36]:
# Сохранить в Excel
df_pd.to_excel("df_excel.xlsx")

In [38]:
# Сохранить в pickle
df_pd.to_pickle("df_pickle.pkl")

In [42]:
# Cохранить pandas dataframe в БД
conn = sqlite3.connect('test_database')
df_pd.to_sql('dom_rf', conn, if_exists='replace', index = False)
conn.commit()
conn.close()

In [50]:
# Проверка БД
conn = sqlite3.connect('test_database')
db_data = pd.read_sql('SELECT * FROM dom_rf', conn)
db_data.head(5)

,objId,rpdRegionCd,objAddr,objFloorMin,objFloorMax,objElemLivingCnt,objReady100PercDt,objSquareLiving,objCompensFundFlg,objProblemFlg,...,developer.orgForm.fullForm,developer.orgForm.shortForm,developer.companyGroup,developer.devInn,objCommercNm,complexShortName,developer.bankruptStage.bankruptStageCd,developer.bankruptStage.bankruptStageDesc,developer.bankruptStage.bankruptLawUrl,developer.orgBankruptMsgDttm
0,13398,72,"г Тюмень, ул Профсоюзная, д. 56",7,10,43,2024-12-31,4812.98,0,0,...,Акционерное общество,АО,6.994210e+08,7701651356,None,None,NaN,None,None,None
1,13383,72,г Тюмень,4,20,68,2022-06-30,6287.45,1,0,...,Акционерное общество,АО,6.994210e+08,7701651356,None,None,NaN,None,None,None
2,13397,72,"г Тюмень, ул Профсоюзная, д. 56",6,12,65,2024-12-31,6248.51,0,0,...,Акционерное общество,АО,6.994210e+08,7701651356,None,None,NaN,None,None,None
3,13391,72,"г Тюмень, ул Профсоюзная",3,12,44,2022-06-30,4293.67,1,0,...,Акционерное общество,АО,6.994210e+08,7701651356,None,None,NaN,None,None,None
4,23682,47,д Агалатово,10,10,54,2022-06-30,2748.15,1,0,...,Общество с ограниченной ответственностью,ООО,5.562608e+09,7806536079,"Жилой комплекс ""84 высота""",None,NaN,None,None,None

### Сохранение фотографий объектов

In [21]:
objects_list = objects_data.get('data').get('list')

In [358]:
# ID всех объектов
objids = [x.get('objId') for x in objects_list]

In [23]:
len(objids)

5000

#### С целью проверки работоспобности алгоритма возьмем срез, тк фотографий у одного объекта может быть огромное количество и их загрузка займет много времени

Загрузка фотографий даже для 10 объектов заняло у меня 1.28 ГБ

In [359]:
objids = objids[:3]

#### Фотографии будут распределены по папкам, соотвутсвующие каждому объекту
Также учитываются возможные повторения ссылок, поэтому повторов не будет

In [360]:
# Будем парсить html
pattern = r'src":"(https://[^"]*file/[^"]{36})"'

In [365]:
for ids in tqdm(objids):
    url_obj = f'https://наш.дом.рф/сервисы/каталог-новостроек/объект/{ids}'
    obj = requests.get(url_obj).text
    urls_imgs = set(re.findall(pattern, obj))
    os.makedirs(f'images/{ids}')
    for idx, imgs in enumerate(urls_imgs):
        img_data = requests.get(imgs).content
        with open(f'images/{ids}/{ids}_{idx}.jpg', 'wb') as handler:
            handler.write(img_data)

100%|████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:44<00:00, 14.71s/it]